{% extends 'base.html' %}

{% block title%}Booking{%endblock title%}
{% block username %}{{ request.user.username }}{% endblock username %}
{% block terminal %}{{ request.session.uterminal }}{% endblock terminal %}
{%block body%}
<div class="container">
    <h1>BOOKING</h1>
    <hr>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    <form method="post" name="passengerid" class="mx-auto" id="passenger-id-form" action="">
        {% csrf_token %}
        <div class="my-2 mx-auto row">
            <label for="inputPasId" class="col-sm-3 col-form-label text-end">CNIC: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputPasId" name="inputPasId" minlength="13" maxlength="13" required>
            </div>
            <div class="col-sm-3 my-auto text-start">
            <button type="submit" name="find-cnic" class="btn btn-dark btn-md">Find!</button>
            </div>
        </div>
    </form>
    {% if uid %}
    <form method="post" name="passengerid" class="mx-auto" id="passenger-id-form" action="">
        {% csrf_token %}
        <input type="number" class="hidden-element" name="inputUid" value="{{ uid }}" readonly>
        <div class="my-2 mx-auto row">
            <label for="inputPasId" class="col-sm-3 col-form-label text-end">Schedule: </label>
            <div class="col-sm-6">
                <select class="form-select" name="inputSchedule" aria-label="Default select example">
                    {% if vouchers %}
                    {% for i in vouchers %}
                    <option value="{{i.id}}">{{i.voucher}} - {{i.destination.city}} - {{i.schedule.departure}}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
            </div>
            <div class="col-sm-3 my-auto text-start">
            <button type="submit" name="find-seats" class="btn btn-dark btn-md">Submit</button>
            </div>
        </div>
    </form>
    {% endif %}
</div>
<div class="container my-5">
    {% if tickets %}
    <table class="bookings mx-auto">
        <tr>
          <th>ROUTE</th>
          <th>DEPT. TIME</th>
          <th>ARRIVAL TIME</th>
          <th>GENDER</th>
          <th>SEAT NO</th>
        </tr>
        {% for tk in tickets %}
        <tr class="tr">
          <td>{{tk.schedule.route_assg_bus.route}}</td>
          <td>{{tk.schedule.departure}}</td>
          <td>{{tk.schedule.arrival}}</td>
          {% if tk.gender %}
          <td>M</td>
          {% else %}
          <td>F</td>
          {% endif %}
          <td>{{tk.seat_no}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="ticket hidden-element" id="ticket">
        <div class="text-center">
        <h1 style="text-align:center;">MBM</h1>
        </div>
        <table style="width:100%; margin-top:5px;">
            <tr>
                <th style="border:1px solid #000;text-align:center;width:50%;">Ticket Id</th>
                <th style="border:1px solid #000;text-align:center;width:50%;" id="bill-voucher">{{billdata.voucher}}</th>
            </tr>
            <tr>
                <th style="border:1px solid #000;text-align:center;width:50%;">Issuedby</th>
                <th style="border:1px solid #000;text-align:center;width:50%;">{{ request.user.get_full_name}}</th>
            </tr>
        </table>
        <table style="width:100%; margin-top:5px;">
            <tr>
                <th style="text-align:left;" colspan="2">Passenger Info</th>
            </tr>
            <tr style="margin-top:10px;">
                <td style="border:1px solid #000;text-align:center;">Name</td>
                <td id="bill-pname" style="border:1px solid #000;text-align:center;">{{billdata.passenger}}</td>
            </tr>
        </table>
        <table style="width:100%; margin-top:5px;">
            <tr>
                <th style="text-align:left;" colspan="2">Departure Info</th>
            </tr>
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;">Route</th>
                <th style="border:1px solid #000;text-align:center;">Departure</th>
                <th style="border:1px solid #000;text-align:center;">Bus</th>
            </tr>
            <tr>
                <td id="bill-route" style="border:1px solid #000;text-align:center;">{{billdata.route_asg_bus.route}}</td>
                <td id="bill-departure" style="border:1px solid #000;text-align:center;">{{billdata.departure}}</td>
                <td id="bill-bus" style="border:1px solid #000;text-align:center;">{{billdata.route_asg_bus.bus}}</td>
            </tr>
        </table>
        <table style="width:100%; margin-top:10px;">
            <thead>
                <tr>
                    <th style="border:1px solid #000;text-align:center;" class="seat">Seat</th>
                    <th style="border:1px solid #000;text-align:center;" class="gender">GR.</th>
                    <th style="border:1px solid #000;text-align:center;" class="qty">QTY</th>
                    <th style="border:1px solid #000;text-align:center;" class="price">PKR</th>
                </tr>
            </thead>
            <tbody id="bill-body">
                <tr>
                    <td style="border:1px solid #000;text-align:center;" id="seatnumber">{{billdata.seats}}</td>
                    <td style="border:1px solid #000;text-align:center;" id="seatgender">{{billdata.genders}}</td>
                    <td style="border:1px solid #000;text-align:center;" id="seatqty">{{billdata.qty}}</td>
                    <td style="border:1px solid #000;text-align:center;" id="seatprice">{{billdata.fare}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>TOTAL</b></td>
                    <td style="border:1px solid #000;text-align:center;" id="totalprice">{{billdata.total}}</td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%; margin-top:5px;">
            <tr>
                <th style="text-align:left;" colspan="2">Discount Info</th>
            </tr>
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;">Amount per seat</th>
                <th style="border:1px solid #000;text-align:center;">Total Discount</th>
            </tr>
            <tr>
                <td id="bill-disc" style="border:1px solid #000;text-align:center;">{{billdata.discount}}</td>
                <td id="bill-discTotal" style="border:1px solid #000;text-align:center;">{{billdata.totaldisc}}</td>
            </tr>
            <tr>
                <td style="border:1px solid #000;text-align:center;">Total Payable Amount</td>
                <td id="bill-TotalPayable" style="border:1px solid #000;text-align:center;">{{billdata.totalpayable}}</td>
            </tr>
        </table>
    </div>
    <div class="coupon hidden-element" id="coupon">
        <div class="text-center">
            <h1 style="text-align:center;">MBM</h1>
            <h2 style="text-align:center;">Boarding Coupon</h2>
        </div>
        <table style="width:100%; margin-top:5px;">
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;width:50%;">Ticket Id</th>
                <th style="border:1px solid #000;text-align:center;width:50%;" id="bill-voucher-coupon">{{billdata.voucher}}</th>
            </tr>
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;width:50%;">Route</th>
                <th style="border:1px solid #000;text-align:center;width:50%;" id="bill-route-coupon">{{billdata.route_asg_bus.route}}</th>
            </tr>
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;width:50%;">Seats</th>
                <th style="border:1px solid #000;text-align:center;width:50%;" id="seatnumber-coupon">{{billdata.seats}}</th>
            </tr>
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;width:50%;">Name</th>
                <th style="border:1px solid #000;text-align:center;width:50%;" id="bill-pname-coupon">{{billdata.passenger}}</th>
            </tr>
            <tr style="margin-top:10px;">
                <th style="border:1px solid #000;text-align:center;width:50%;">Fare</th>
                <th style="border:1px solid #000;text-align:center;width:50%;" id="totalprice-coupon">{{billdata.totalpayable}}</th>
            </tr>
        </table>
    </div>
    <form method="post" name="passengerid" class="mx-auto" id="passenger-id-form" action="">
        {% csrf_token %}
        <input type="number" class="hidden-element" name="inputUid" value="{{ uid }}" readonly>
        <input type="number" class="hidden-element" name="inputSid" value="{{ schedule.id }}" readonly>
            <div class="col-sm-12 my-2 text-center">
            <button type="submit" name="Purchase-seats" class="btn btn-dark btn-md mx-auto">Submit</button>
            <button type="button" onclick="printBill()" class="btn btn-dark btn-md mx-auto">Print Bill!</button>
            </div>
        </div>
    </form>
    {% endif %}
    {% block script %}
    <script type="text/JavaScript">
        function printBill()
        {
            var  WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
            var prtContent = document.getElementById("ticket");
            var prtCoupon = document.getElementById("coupon");
            WinPrint.document.close();
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.write(prtCoupon.innerHTML);
            WinPrint.print();
            WinPrint.focus();
            WinPrint.close();
        }
    </script>
    {% endblock script %}
</div>
{%endblock body%}