{% extends 'base.html' %}

{% block title%}Cancel Booking{%endblock title%}
{% block username %}{{ request.user.username }}{% endblock username %}
{% block terminal %}{{ request.session.uterminal }}{% endblock terminal %}
{%block body%}
<div class="container">
  <div class="row">
    <div class="col-sm-6"><h1>CANCEL BOOKING</h1></div>
    <div class="col-sm-6 text-end"><a href="{% url 'booking' schedule_id=sc_id %}"><button class="btn btn-dark btn-md my-2">Go to booking</button></a></div>
</div>
    <hr>
</div>
<div class="container my-5">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% if tickets %}
  <table class="bookings mx-auto">
    <form method="post" name="cancelBooking" action="{% url 'cancelReservation' sc_id=sc_id %}">
      {% csrf_token %}
      <tr>
        <th>Select</th>
        <th>SEAT</th>
        <th>ROUTE</th>
        <th>GENDER</th>
        <th>BOOKED BY</th>
        <th>CNIC</th>
        <th>PHONE</th>
      </tr>
      {% load static %}
      {% for tk in tickets %}
      <tr class="tr">
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="ticket" value="{{tk.id}}" id="flexCheckDefault">
          </div>
        </td>
        <td>{{tk.seat_no}}</td>
        <td>{{tk.fare.source}} - {{tk.fare.destination}}</td>
        {% if tk.gender %}
        <td>M</td>
        {% else %}
        <td>F</td>
        {% endif %}
        <td>{{tk.bookedby.name}}</td>
        <td>{{tk.bookedby.cnic}}</td>
        <td>{{tk.bookedby.phone}}</td>
      </tr>
      {% endfor %}
  </table>
  <div class="row mx-auto my-2">
    <button type="submit" name="cancel-by-schedule" class="col-sm-2 btn btn-dark btn-md mx-auto">Cancel Booking</button>
  </div>
  </form>
  {% endif %}
</div>
{%endblock body%}