{% extends 'base.html' %}

{% block title%}Driver to Bus{%endblock title%}
{% block username %}{{ request.user.username }}{% endblock username %}
{% block terminal %}{{ request.session.uterminal }}{% endblock terminal %}
{%block body%}
<div class="container">
    <h1>ASSIGN DRIVER TO BUS</h1>
    <hr>
</div>
<div class="container my-3">
    {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
    <form method="post" name="register" action="">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="inputBus" class="col-sm-2 col-form-label">Bus</label>
            <div class="col-sm-4">
              <select name="inputBus" class="form-control" id="inputBus" required>
                {% if buses %}
                   {% for bus in buses%}
                   <option value="{{bus.id}}">{{bus}}</option>
                   {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputDriver" class="col-sm-2 col-form-label">Driver</label>
            <div class="col-sm-4">
              <select name="inputDriver" class="form-control" id="inputDriver" required>
                {% if drivers %}
                   {% for driver in drivers %}
                     <option value="{{driver.id}}">{{driver}}</option>
                   {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-dark btn-md">Assign</button>
    </form>
</div>
<div class="container">
    {% if bustodriver %}
    <table class="bookings mx-auto">
        <tr>
          <th>BUS</th>
          <th>DRIVER</th>
        </tr>
        {% for bd in bustodriver %}
        <tr class="tr">
          <td>{{bd.bus}}</td>
          {% if bd.driver %}
          <td>{{bd.driver}}</td>
          {% else %}
          <td> - </td>
          {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{%endblock body%}