{% extends 'base.html' %}

{% block title %}Drivers{% endblock title %}
{% block username %}{{ request.user.username }}{% endblock username %}
{% block terminal %}{{ request.session.uterminal }}{% endblock terminal %}
{%block body%}
{% load static %}
<div class="container my-2">
  <h1>Drivers</h1>
  <hr>
  <div class="container">
    {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
  {% endif %}
</div>
</div>
<div class="container">
    <table class="schedule Users">
        <tr>
          <th>Name</th>
          <th>Dob</th>
          <th>Cnic</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Joining Date</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
        {% for driver in Drivers %}
        <tr class="tr">
          <td>{{driver.name}}</td>
          <td>{{driver.dob}}</td>
          <td>{{driver.cnic}}</td>
          <td>{{driver.phone}}</td>
          <td>{{driver.address}}</td>
          <td>{{driver.created}}</td>
          <td><a href="{% url 'modifydriver' driver_id=driver.id %}"><img src="{% static 'images/edit.png' %}"></a></td>
          <td><a href="{% url 'viewdrivers' driver_id=driver.id %}"><img src="{% static 'images/remove.png' %}"></a></td>
        </tr>
        {% endfor %}
      </table>
</div>
{%endblock body%}