{% load static %}
{% load myfilters %}
<table class="seats my-2" dir="rtl">
    {% for i in capacity|range%}
    {% if i|returnrem:4 == 1 %}
    <tr>
        {% endif %}
        <td class="seat_bound">
            {% if i in seating %}
            {% if seating|get_gender:i %}
            <div class="row mb-3">
                <div class="col-sm-8 text-start">
                    <p style="margin-bottom:1px;font-size:12px;"><b>
                            {% if seating|get_status:i == 2 %}
                            <span style="color:#ff0f0f;">
                                ticket
                            </span>
                            {% else %}
                            <span style="color:#ff870f;">
                                booked
                            </span>
                            {% endif %}
                        </b></p>
                    <p style="margin-bottom:1px;font-size:12px;">
                        <b>
                            {{ seating|get_bookedcity:i }}
                        </b>
                    </p>
                    <p style="line-height: 0.2;font-size:12px;">
                        <b>
                            {{ seating|get_destcity:i }}
                        </b>
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="male" id="{{i}}" style="height:36px; width:36px;"
                        src="{% static 'images/seat_male-overlay.png' %}" alt="Seat">
                    <p style="margin-bottom:2px;" class="font-male"><b>{{i}}</b></p>
                </div>
            </div>
            {% else %}
            <div class="row mb-3">
                <div class="col-sm-8 text-start">
                    <p style="margin-bottom:1px;font-size:12px;"><b>
                            {% if seating|get_status:i == 2 %}
                            <span style="color:#ff0f0f;">
                                ticket
                            </span>
                            {% else %}
                            <span style="color:#ff870f;">
                                booked
                            </span>
                            {% endif %}
                        </b>
                    </p>
                    <p style="margin-bottom:1px;font-size:12px;">
                        <b>
                            {{ seating|get_bookedcity:i }}
                        </b>
                    </p>
                    <p style="line-height: 0.2;font-size:12px;">
                        <b>
                            {{ seating|get_destcity:i }}
                        </b>
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="female" id="{{i}}" style="height:36px; width:36px;"
                        src="{% static 'images/seat_female-overlay.png' %}" alt="Seat">
                    <p style="margin-bottom:2px;" class="font-female"><b>{{i}}</b></p>
                </div>
            </div>
            {% endif %}
            {% else %}
            <div class="row mb-3">
                <div class="col-sm-8 text-start">
                    <p style="margin-bottom:1px;font-size:12px;">
                        <b>- -</b>
                    </p>
                    <p style="margin-bottom:1px;font-size:12px;">
                        <b>- -</b>
                    </p>
                    <p style="line-height: 0.2;font-size:12px;">
                        <b>- -</b>
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="empty clickable" id="{{i}}" onclick="selectSeat(this.id)"
                        style="height:36px; width:36px;" src="{% static 'images/seat_empty.png' %}" alt="Seat">
                    <p style="margin-bottom:2px;"><b>{{i}}</b></p>
                </div>
            </div>
            {% endif %}
        </td>
        {% if i|returnrem:4 == 0 %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% block script %}
<script type="text/JavaScript">
    var seats = {};
    var genders = {};
    var fares = {};
    var farestr = document.getElementById('fare').innerHTML;
    farestr = farestr.split(";");
    for (let i = 0; i < farestr.length; i++) 
    {
        fares[farestr[i].split(":")[0]] = farestr[i].split(":")[1]
    }
    var fare = fares[Object.keys(fares)[0]]
    document.getElementById('inputFare').value = parseInt(fare);
    console.log(fares)
function setFair(value)
{
    console.log(value);
    fare = parseInt(fares[value]);
    var qty = parseInt(document.getElementById('inputNum').value);
    document.getElementById('inputFare').value = fare;
    document.getElementById('inputFare').innerHTML = fare;
    if(qty)
    {
    document.getElementById('inputTotal').value = qty * fare;
    var mode = document.getElementById("ticketing-form");
    if(mode)
    {
        document.getElementById('seatqty').innerHTML = Object.keys(seats).length;
        document.getElementById('totalprice').innerHTML = Object.keys(seats).length * fare;
        document.getElementById('seatnumber').innerHTML = Object.keys(seats).toString();
        document.getElementById('seatgender').innerHTML = Object.values(genders).toString();
        document.getElementById('seatprice').innerHTML = document.getElementById('inputFare').value;
    }
    }
}
function selectSeat(id) 
{
    var seat = document.getElementById(id);
    console.log(seat.src);
    var name = seat.src.split("/");
    name = name[name.length-1];
    console.log(name);
    var mode = document.getElementById("ticketing-form");
    if (name == 'seat_empty.png') {
        seat.src = "{% static 'images/seat_male-overlay.png' %}";
        seats[id] = '1';
        genders[id] = 'M';
        document.getElementById('inputNum').value = Object.keys(seats).length;
        if(mode)
        document.getElementById('seatqty').innerHTML = Object.keys(seats).length;
        
        if(mode)
        document.getElementById('seatprice').innerHTML = document.getElementById('inputFare').value;

        document.getElementById('inputTotal').value = Object.keys(seats).length * fare;
        if(mode)
        document.getElementById('totalprice').innerHTML = Object.keys(seats).length * fare;

        document.getElementById('inputSeats').value = Object.keys(seats).toString();
        if(mode)
        {
        document.getElementById('seatnumber').innerHTML = Object.keys(seats).toString();
        document.getElementById('seatnumber-coupon').innerHTML = Object.keys(seats).toString();
        }

        document.getElementById('inputGenders').value = Object.values(seats).toString();
        if(mode)
        document.getElementById('seatgender').innerHTML = Object.values(genders).toString();
    }
    else if (name == 'seat_male-overlay.png') {
        seat.src = "{% static 'images/seat_female-overlay.png' %}";
        seats[id] = '0';
        genders[id] = 'F';
        document.getElementById('inputGenders').value = Object.values(seats).toString();
        if(mode)
        document.getElementById('seatgender').innerHTML = Object.values(genders).toString();
    }
    else {
        seat.src = "{% static 'images/seat_empty.png' %}";
        delete seats[id];
        delete genders[id];
        document.getElementById('inputNum').value = Object.keys(seats).length;
        if(mode)
        document.getElementById('seatqty').innerHTML = Object.keys(seats).length;

        if(mode)
        document.getElementById('seatprice').innerHTML = document.getElementById('inputFare').value;

        document.getElementById('inputTotal').value = Object.keys(seats).length * fare;
        if(mode)
        document.getElementById('totalprice').innerHTML = Object.keys(seats).length * fare;

        document.getElementById('inputSeats').value = Object.keys(seats).toString();
        if(mode)
        {
        document.getElementById('seatnumber').innerHTML = Object.keys(seats).toString();
        document.getElementById('seatnumber-coupon').innerHTML = Object.keys(seats).toString();
        }

        document.getElementById('inputGenders').value = Object.values(seats).toString();
        if(mode)
        document.getElementById('seatgender').innerHTML = Object.values(genders).toString();
    }
}
function validateForm(id)
{
    let x = document.forms["booking"]["inputSeats"].value;
    if (x == "") {
      alert("You must Select atleast 1 seat to proceed!");
      return false;
    }
    if (id == "booking-form")
    {
        var scid = document.getElementById('scid').innerHTML;
        var voucher = scid + '-' + Date.now();
        document.getElementById('inputVoucher').value = voucher;
    }
}

function printBill()
{
    document.getElementById('bill-pname').innerHTML = document.getElementById('inputPasName').value;
    document.getElementById('bill-pcontact').innerHTML = document.getElementById('inputContact').value;
    document.getElementById('bill-pname-coupon').innerHTML = document.getElementById('inputPasName').value;
    var discount = parseInt(document.getElementById('inputDiscount').value);
    document.getElementById('bill-disc').innerHTML = discount;
    var totalFare = parseInt(fare) * Object.keys(seats).length;
    var discountTotal = discount * Object.keys(seats).length;
    document.getElementById('bill-discTotal').innerHTML = discountTotal;
    document.getElementById('bill-discTotal2').innerHTML = discountTotal;
    var totalPayable = 0;
    if(discountTotal < totalFare)
    totalPayable = totalFare - discountTotal;
    document.getElementById('bill-TotalPayable').innerHTML = totalPayable;
    document.getElementById('totalprice-coupon').innerHTML = totalPayable;
    var scid = document.getElementById('scid').innerHTML;
    var voucher = scid + '-' + Date.now();
    document.getElementById('bill-voucher').innerHTML = voucher;
    document.getElementById('bill-voucher-coupon').innerHTML = voucher;
    var sid = document.getElementById('inputRoute').options.selectedIndex;
    document.getElementById('bill-route').innerHTML = document.getElementById('inputRoute').options[sid].innerHTML;
    document.getElementById('bill-route-coupon').innerHTML = document.getElementById('inputRoute').options[sid].innerHTML;
    document.getElementById('inputVoucher').value = voucher;
    var  WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
    var prtContent = document.getElementById("ticket");
    var prtCoupon = document.getElementById("coupon");
    WinPrint.document.close();
    WinPrint.document.write(prtContent.innerHTML);
    WinPrint.document.write(prtCoupon.innerHTML);
    WinPrint.print();
    WinPrint.focus();
    WinPrint.close();
}
</script>{% endblock script %}